@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: 0, 0, 0;
  --background: 255, 255, 255;
}

html{
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}


body {
  background-color: var(--background);
  color: var(--text);

/* 
  background-color: rgb(212, 212, 212);
  background-image: radial-gradient(at 74% 87%, rgb(196, 181, 253) 0, transparent 39%), radial-gradient(at 29% 19%, rgb(167, 139, 250) 0, transparent 87%); 
  */

}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

